<div class="wrapper">
  <h1>Book Communication</h1>
</div>
<div class="button-zone">
  <%= link_to "読んだ本を登録する", "#", class:"btn" %>
  <%= link_to "トップページに戻る", root_path, class:"btn" %>
</div>
<div class="main-field">
＜そのUSERが読んだ本リスト（新しい順番で並べる）＞
  <div class="book-photo">
  image-photo
  </div>
  <div class="book-data">
    <div class="upper-book-data">
      <div class="book-title">
      <%= link_to "Book Title", "#" %>
      </div>
    </div>
    <div class="lower-book-data">
      <div class="user-name">
      <%= link_to "User Name", "#" %>
      </div>
      <div class="read-date">
      2020/12/31
      </div>
    </div>
  </div>
</div> 