<div class="wrapper">
  <h1>Book Communication</h1>
</div>
<div class="button-zone">
  <%= link_to "戻る", "#", class:"btn-2" %>
</div>
<div class="main-field">
  本のタイトル
  本の画像
  読んだ感想
  コメント入力欄
  コメントが表示される場所
</div>  

＜読んだ本の詳細ページ＞