.wrapper {
  background-color: antiquewhite;
  height: 150px;
  width: 100%;
  padding: 40px 0 0 40px;
  font-size: 40px;
}
.button-zone {
  font-size: 30px;
  background-color: lightblue;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 50px;
  justify-content: center;
}
.btn {
  font-size: 25px;
  background-color: skyblue;
  border: 1px solid white;
  margin: 0 30px;
  padding: 10px 20px;
  direction: none;
}

.main-field {
  width: 100%;
  background-color: antiquewhite;
  height: calc(100vh - 100px - 150px);
  padding: 40px 0 0 60px;
  justify-content: center;
  overflow: scroll;
}
.books-status {
  margin: 15px 30px;
  border: 1px solid skyblue;
  padding: 10px;
  display: flex;
  justify-content: center;
}
.book-data {
  margin-left: 30px;
}
.upper-book-data{
  font-size: 25px;
}
.lower-book-data {
  display: flex;
}
.user-name {
  padding-top: 5px;
  font-size: 20px;
  padding-left: 10px;
}
.read-date {
  font-size: 15px;
  color: gray;
  margin-left: 20px;
  padding-top: 10px;
}
.book-form-space {

  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.book-form-tag {
  font-size: 20px;
  width: 100px;
  height: 30px;
  margin: auto;
}
.book-form-field {
  margin: 10px auto;
  background-color: white;
  width: 70%;
  height: 30px;
  border: 1px solid gray;
}
.img-upload {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px;
}

.click-upload {
  margin: 10px auto;
  min-width: 250px;
  width: 70%;
}

.click-upload>p {
  margin-bottom: 15px;
}

.impression-form-field {
  margin: 10px auto;
  height: 90px;
  width: 70%;
}

.main-field {
  background-color: antiquewhite;
  height: calc(100vh - 100px - 150px);
  width: 100%;
  padding: 40px 60px;
  justify-content: center;
}

.book-photo {
  height: 100px;
  width: 200px;
}

/* 本の詳細ページ */
.book-show-status{
  border: 1px solid skyblue;
  margin: 20px 30px;
  padding: 30px;
  justify-content: center;  
}
.book-show-title {
  height: 40px;
  width: 300px;
  margin: 10px auto;
  font-size: 30px;
}
.show-title {
  display: flex;
  justify-content: center;
}
.book-show-image {
  height: 200px;
  width: 400px;
  margin: 10px auto;
}
.show-image {
  display: flex;
  justify-content: center;
}
.book-show-author {
  height: 30px;
  width: 100px;
  margin: 10px auto;
}
.show-author {
  display: flex;
  justify-content: center;
}
.book-show-impression {
  height: 100px;
  width: 250px;
  margin: 10px auto;
}

.comment-area {
  padding: 20px 40px;
}

.form {
  height: 90px;
  padding: 20px 40px;
  display: flex;
}
.form-input {
  background-color: white;
  width: 100%;
}
.form-comment {
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}
.form-submit {
  background-color: skyblue;
  border: none;
  color: white;
  font-size: 10px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}
.book-show-comment-form {
  display: flex;
}

.book-show-comment-area {
  width: 100%;
}